body{
	color: blue;
}

.page-break{
	page-break-after: always;
}

.header{
	position: static;

	-webkit-print-color-adjust: exact;

}

.print-bth{
	display: none;
}

.content{
	padding: 0;
	margin: auto;

	-webkit-print-color-adjust: exact;
}

@page{
	/*size: portrait;
	size: landscape;
	size: auto;

	size: A4;
	size: Legal;

	size: A4 landscape;
	size: 4in 6in;*/

	margin: 0;
}
